* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  background: #040350a9;
  color: #e9ebee;
  min-height: 100vh;
}

header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e163b;
  border-bottom: 1px solid #3421d8;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
}

nav button,
.resume-btn {
  margin-left: 1rem;
  padding: 0.5rem 1.2rem;
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  cursor: pointer;
  border-radius: 999px;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

nav button:hover,
.resume-btn:hover {
  background: #38bdf8;
  color: #020617;
}

main {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #020617;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #cbd5f5;
}

.about-list {
  list-style: none;
  margin-top: 1rem;
}

.about-list li {
  margin-bottom: 1rem;
  padding-left: 1.25rem;
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #38bdf8;
  font-size: 1.2rem;
}

.card {
  background: #130936;
  border: 1px solid #1e293b;
  padding: 1.75rem;
  margin-bottom: 1.5rem;
  border-radius: 14px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.card p {
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
}

.card a {
  color: #17acf1;
  text-decoration: none;
  font-weight: 600;
}

.card a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid #1e293b;
  margin-top: 3rem;
  font-size: 1rem;
  color: #ffffff;
}
